
@{
    ViewBag.Title = "Index";
}

<div id="page">
    <div class="container">
        <div class="row">

            <div id="sidebar" class="4u">
                
                <section id="box2">
                    <h2>By Email</h2>
                    <ul class="style2">
                        <li class="first">
                            <p><a href="#"><img src="~/images/email.png" alt=""> contact@apriant.com Career Inquiries: careers@apriant.com</a></p>
                        </li>
                    </ul>
                    <p></p>
                    </section>

                    <p></p>

                <section id="box2">
                    <h2>By Mail</h2>
                    <ul class="style2">
                        <li class="first">
                            <p><a href="#"><img src="~/images/mail.png" alt=""> PO Box 101930 Denver, Colorado 80250</a></p>
                        </li>
                    </ul>
                    <p></p>
                </section>

                    <p></p>

                <section id="box2">
                    <h2>By Phone / fax</h2>
                    <ul class="style2">
                        <li class="first">
                            <p><a href="#"><img src="~/images/faxIcon.png" alt=""> 303.800.6219 (p) 603. 218.6833 (f)</a></p>
                        </li>
                    </ul>
                    <p></p>
                    <p></p>
                    @*<a href="#" class="button button-style1">Read More</a>*@
                </section>
            </div>

            <div id="content" class="8u skel-cell-important">
                <article>
                    <header>
                        <h2>Contact Us</h2>
                    </header>
                    @*<iframe width="770" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/streetview?location=39.6900%2C-104.9808&key=AIzaSyDAxg0A_EsJLmjlWU8sQKC6CTvmdjwkYcI" allowfullscreen></iframe>*@
                    <iframe width="770" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=1465%C2%A0South%C2%A0Pearl%C2%A0Street%20Denver%2C%C2%A0CO%C2%A080210%20&key=AIzaSyDAxg0A_EsJLmjlWU8sQKC6CTvmdjwkYcI" allowfullscreen></iframe>
                  
                   
                </article>
            </div>

        </div>
    </div>
</div>

