@{
    ViewBag.Title = "Home Page";
}


<!-- Header Ends Here -->
<!-- Featured Area -->
@*<div id="featured-wrapper">

    <div class="container">
        <div class="row double">

            <section class="4u">
                <header>
                    <h2>Maecenas luctus lectus</h2>
                </header>
                <span class="pennant"><span class="fa fa-apple"></span></span>
                <p>Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo.</p>
                <a href="#" class="button button-style1">Read More</a>
            </section>
            <section class="4u">
                <header>
                    <h2>Etiam rhoncus volutpat</h2>
                </header>
                <span class="pennant"><span class="fa fa-rocket"></span></span>
                <p>Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna.</p>
                <a href="#" class="button button-style1">Read More</a>
            </section>
            <section class="4u">
                <header>
                    <h2>Mauris vulputate dolor</h2>
                </header>
                <span class="pennant"><span class="fa fa-cogs"></span></span>
                <p>Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo.</p>
                <a href="#" class="button button-style1">Read More</a>
            </section>

        </div>
    </div>

</div>*@


<!-- Featured Ends Here -->
<!-- Page -->

<div id="page">
    <div class="container">
        <div class="row">

            <div id="content" class="7u">
                <article>
                    
                    <a class="image-style1"><img src="~/images/ApriantFinal.png" alt=""></a>
                    <h3 style="text-align-last:left">
                        Apriant is a professional services and technology firm dedicated to helping K­-12 school districts with their business, technology, and strategic initiatives. Apriant was founded in 2004 with the goal of assisting school districts in solving complex operational issues.</h3>
                    <h3 style="text-align-last:auto">
                    The efficiencies gained through resolving these issues can then be translated into more funds that are dedicated to classroom achievement.</h3>
                   <p></p>
                    <h3 style="text-align-last:left">
                    Our business is based upon our knowledge of School District business and our professionals have extensive experience providing project management services for technology implementations, diagnosing and implementing business process improvements, leading clients through requirements definitions and software selections, developing strategic plans, and analyzing and improving components of the talent management lifecycle.</h3>
                    <p></p>
                    <h3 style="text-align-last:left">
                    Most importantly, Apriant has an established record of delivering these projects both on time and on budget.  Our experience, expertise, and methodology allow us to lead our clients through smooth and successful projects that deliver meaningful value.</h3>
                </article>
                <div id="two-column">
                    <div class="row">
                        @*<section class="6u">
                            <h2>Tristique eleifend</h2>
                            <p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh.</p>
                            <ul class="style3">
                                <li class="first">
                                    <p><span class="date"><a href="#">20012.10.25</a></span><span class="heading-title">Etiam posuere augue</span></p>
                                    <p><a href="#">Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus.</a></p>
                                </li>
                                <li>
                                    <p><span class="date"><a href="#">20012.10.25</a></span><span class="heading-title">Etiam posuere augue</span></p>
                                    <p><a href="#">Quisque dictum. Integer nisl risus, sagittis elementum congue, nibh. Suspendisse dictum porta lectus.</a></p>
                                </li>
                            </ul>
                        </section>*@
                        @*<section class="6u">
                            <h2>Donec dictum metus</h2>
                            <ul class="style4">
                                <li class="first">
                                    <h3>Mauris vulputate dolor sit amet</h3>
                                    <p><a href="#">Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
                                </li>
                                <li>
                                    <h3>Fusce ultrices fringilla metus</h3>
                                    <p><a href="#">In hac habitasse platea dictumst. Nullam id ante eget dui vulputate aliquam. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
                                </li>
                                <li>
                                    <h3>Donec dictum metus in sapien</h3>
                                    <p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Suspendisse sit amet tellus in eros bibendum condimentum.</a> </p>
                                </li>
                            </ul>
                        </section>*@
                    </div>
                </div>
            </div>
            <div id="sidebar" class="4u">
                <div class="row">
                    @*<section id="box1" class="6u">
                        <h2>Nulla  eleifend</h2>
                        <ul class="style4">
                            <li class="first"><a href="#">Maecenas luctus</a></li>
                            <li><a href="#">Etiam rhoncus erat</a></li>
                            <li><a href="#">Donec metus sapien</a></li>
                            <li><a href="#">Integer quis urna</a></li>
                            <li><a href="#">Etiam rhoncus erat</a></li>
                            <li><a href="#">Donec metus sapien</a></li>
                            <li><a href="#">Etiam volutpat erat</a></li>
                        </ul>
                    </section>
                    <section class="6u">
                        <h2>Nulla  eleifend</h2>
                        <ul class="style4">
                            <li class="first"><a href="#">Maecenas luctus</a></li>
                            <li><a href="#">Etiam rhoncus erat</a></li>
                            <li><a href="#">Donec metus sapien</a></li>
                            <li><a href="#">Integer quis urna</a></li>
                            <li><a href="#">Etiam rhoncus erat</a></li>
                            <li><a href="#">Donec metus sapien</a></li>
                            <li><a href="#">Etiam volutpat erat</a></li>
                        </ul>
                    </section>*@
                </div>
                <section id="box2">
                    <h2>Our Services</h2>
                    <ul class="style2">
                        <li class="first">
                            <h2><a style="text-size-adjust:60%"><img src="images/pics07.jpg" alt="">Project Management</a></h2>
                        </li>
                        <li>
                            <h2><a style="text-size-adjust:60%"><img src="images/pics08.jpg" alt="">Business Process Analysis/Optimization</a></h2>
                        </li>
                        <li>
                            <h2><a style="text-size-adjust:60%"><img src="images/pics09.jpg" alt="">Software Selection/RFP Creation</a></h2>
                        </li>
                        <li>
                            <h2><a style="text-size-adjust:60%"><img src="images/pics10.jpg" alt="">Implementation Readiness</a></h2>
                        </li>
                        <li>
                            <h2><a style="text-size-adjust:60%"><img src="images/pics10.jpg" alt="">Strategic Planning</a></h2>
                        </li>
                        <li>
                            <h2><a style="text-size-adjust:60%"><img src="images/pics10.jpg" alt="">Talent Management</a></h2>
                        </li>
                        
                    </ul>
                    <a href="#" class="button button-style1">Read More</a>
                </section>
            </div>

        </div>
    </div>
</div>