@{
    ViewBag.Title = "Home Page";
}



<div id="page">
    <div class="container">
        <div class="row">

            <div id="content" class="7u">
                <article>
                    
                    <a class="image-style1"><img src="~/images/ApriantFinal.png" width="390" height="270"></a>
                    <h3 style="text-align-last:left">
                        Apriant is a professional services and technology firm dedicated to helping K­-12 school districts with their business, technology, and strategic initiatives. Apriant was founded in 2004 with the goal of assisting school districts in solving complex operational issues.</h3>
                    <h3 style="text-align-last:auto">
                    The efficiencies gained through resolving these issues can then be translated into more funds that are dedicated to classroom achievement.</h3>
                   <p></p>
                    <h3 style="text-align-last:left">
                    Our business is based upon our knowledge of School District business and our professionals have extensive experience providing project management services for technology implementations, diagnosing and implementing business process improvements, leading clients through requirements definitions and software selections, developing strategic plans, and analyzing and improving components of the talent management lifecycle.</h3>
                    <p></p>
                    <h3 style="text-align-last:left">
                    Most importantly, Apriant has an established record of delivering these projects both on time and on budget.  Our experience, expertise, and methodology allow us to lead our clients through smooth and successful projects that deliver meaningful value.</h3>
                </article>
                <div id="two-column">
                    <div class="row">
                       
                    </div>
                </div>
            </div>
            <div id="sidebar" class="5u">
                <div class="row">
                   
                </div>
                <section id="box2">
                    <h2>Our Services</h2>
                    <ul class="style2">
                        <li class="first">
                            <p><a><img src="~/images/project-plan-icon.png" height="70" width="70">Project Management</a></p>
                        </li>
                        <li>
                            <p><a><img src="~/images/maintenance-icon.png" height="70" width="70">Business Process Analysis/Optimization</a></p>
                        </li>
                        <li>
                            <p><a><img src="~/images/Apps-partitionmanager-icon.png" height="70" width="70">Software Selection/RFP Creation</a></p>
                        </li>
                        <li>
                            <p><a><img src="~/images/Implementation.png" height="70" width="70">Implementation Readiness</a></p>
                        </li>
                        <li>
                            <p><a><img src="~/images/strategic.png" height="70" width="70">Strategic Planning</a></p>
                        </li>
                        <li>
                            <p><a><img src="~/images/talent.png" height="70" width="70">Talent Management</a></p>
                        </li>
                        <li>

                        </li>
                        
                    </ul>
                    <a href="http://localhost:7385/Services" class="button button-style1">Read More</a>
                </section>
            </div>

        </div>
    </div>
</div>