
@{
    ViewBag.Title = "Index";
}
<div id="page">
    <div class="container">
        <div class="row">
            <div id="sidebar" class="col-lg-8 col-lg-offset-3">
                <section id="box2">
                    <h2>Services</h2>
                    <ul class="style2">
                        <li class="first">
                            <h3>
                                <img src="~/images/project-plan-icon.png" with="40" height="40"/>
                            <strong><font size="4">Project Management</font></strong>
                            </h3>
                            <p> Apriant understands the environment under which school districts are required to operate. Districts are constantly being asked to do more with less resources.  This presents a challenge to stay on top of current obligations, particularly when there exists a need to complete new technology implementations as well as other special projects.</p>
                            <p> Following PMI’s established processes and guidelines, Apriant’s project management methodology emphasizes leverage we leverage your time,<br> our experience,</p>
                            <p> and our collective expertise in order to accomplish predefined goals and objectives with minimal disruption to your organization. Contact us to discuss how we can provide leadership for any of your implementation projects.</p>
                        </li>
                    </ul>
                    <ul class="style2">
                        <li class="first">
                            <h3>
                                <img src="~/images/maintenance-icon.png" with="40" height="40" />
                                <strong><font size="4">Business Process Analysis / Optimization</font></strong>
                            </h3>
                            <p> Apriant combines a deep understanding of school district operations – and the business processes that allow the organization to function – with expertise utilizing business process modeling software. To optimize your business processes, Apriant begins by gathering specific information through a series of interviews with appropriate personnel and uses that information to model the process and establish benchmark data for internal and external comparison analysis. We then analyze potential improvements using what­if analysis and deliver recommendations that include strategic plans for how to best implement the improvements. Apriant’s goal is to leave our clients with a compelling business case for change based on tangible evidence gleaned from internal and external analysis and a manageable plan for how to implement these changes,<br> with or without us.</p>
                            <p> Contact us to analyze and optimize any of your most troublesome business processes.</p>
                        </li>
                    </ul>

                    <ul class="style2">
                        <li class="first">
                            <h3>
                                <img src="~/images/Apps-partitionmanager-icon.png" with="40" height="40" />
                                <strong><font size="4">Software Selection / RFP Creation</font></strong>
                            </h3>
                            <p>Apriant believes that data­driven decisions are good decisions. We want to help our client select the software that best suits their business requirements not the one with the most bells and whistles so we follow a methodology designed to lead the selection committee to an objective decision based on <br>pre­defined goals and objectives for the software implementation and the detailed business requirements that support them.</p>
                            <p>Contact us to see how we can help run a formal, objective software selection designed to find the software solution best aligned with the needs of your <br>organization.</p>
                        </li>
                    </ul>

                    <ul class="style2">
                        <li class="first">
                            <h3>
                                <img src="~/images/Implementation.png" with="40" height="40" />
                                <strong><font size="4">Implementation Readiness</font></strong>
                            </h3>
                            <p>The prospect of implementing new software is not to be taken lightly. New software generally means new ways of doing things, new challenges, <br>and most importantly new opportunities.</p>
                            <p>Software in and of itself is not necessarily going to change things for the better, however. <br>In order to fully capitalize on the opportunities that new technologies present, <br>the organization must ensure that it has made adequate preparations to get the stakeholders ready for the changes. Apriant can assist with these preparations by analyzing the organizational structure, reviewing key business processes, establishing expectations for resource requirements, and preparing a plan to assist with organizational change management.</p>
                            <p>Contact us to ensure that your organization is ready to capitalize on your software investment.</p>
                        </li>
                    </ul>

                    <ul class="style2">
                        <li class="first">
                            <h3>
                                <img src="~/images/strategic.png" with="40" height="40" />
                                <strong><font size="4">Strategic Planning</font></strong>
                            </h3>
                            <p>Tactical, day­to­day activities tend to push the strategic planning objectives of many Districts to the back burner.  To execute on strategic objectives, Apriant has found that a District needs to not only map the direction at the high level, but also document the detailed steps in clear, concise fashion needed to execute the objectives that the responsible department managers can follow.  Failure to complete both components often results in a District with vision and aspiration that never seems to find the time to execute on their strategic goals.</p>
                            <p>One of our great strengths at Apriant is to guide you through a strategic planning process that results in a tangible – and executable – project plan.  We help you articulate an actionable vision, delineate goals and strategies, and match your time, money, and human resources to the mission critical tasks. <br>Contact us to see how we can help you plan and complete your strategic initiatives before they languish on the shelf.
 </p>
                        </li>
                    </ul>

                    <ul class="style2">
                        <li class="first">
                            <h3>
                                <img src="~/images/talent.png" with="40" height="40" />
                                <strong><font size="4">Talent Management</font></strong>
                            </h3>
                            <p>The implementation of Talent Management initiatives is one way that organizations strive to maximize the investment that they make in their employees. The stakes of employee productivity are high for School Districts considering that upwards of 80% of most K­12 organizations’ annual expenditures go towards salaries and benefits. With this in mind, the employee lifecycle – from recruitment to hiring to succession planning and the compensation, evaluation, and professional development in between – is the lifeblood of a School District. Apriant understands the complexities of talent management at School Districts and how the individual pieces make up and impact the whole. Apriant helps organizations develop a holistic view of the Talent Management lifecycle and implement component business processes that are aligned with the overall goals. The results include standardized, targeted, and integrated information to help support employee development and achievement as well as engaged employees that understand how their hard work benefits the District. <br>Contact us to discuss how we can help your organization define the big picture and implement that vision in the day­to­day life of your employees.</p>
                        </li>
                    </ul>

                    <ul class="style2">
                        <li class="first">
                            <h3>
                                <img src="~/images/maintenance-icon.png" with="40" height="40" />
                                <strong><font size="4">Needs Analysis & Requirements Definition</font></strong>
                            </h3>
                            <p>Building a compelling business case for a new initiative is best accomplished by thoroughly exploring the business requirements associated with the proposed initiative throughout all levels of the organization. As part of our Needs Analysis and Requirements Definition offering, Apriant conducts interviews with stakeholders across all levels of the organization to gather and document business requirements that, when met, will allow the organization to achieve its goals. These business requirements establish the foundation for how the future of the department/organization should look and better prepare our clients to make informed decisions about the selection and planning of the project in question. <br>Contact us to help clarify the business case for a new initiative based on the objective requirements of your department/organization.</p>
                        </li>
                    </ul>

                </section>

            </div>
        </div>
    </div>
</div>


