
@{
    ViewBag.Title = "Index";
}
<div id="page">
    <div class="container">
        <div class="row">
           
            <div id="content" class="12u skel-cell-important">
                <article>
                    <header>
                        <h2 class="main-title">Methodology</h2>
                    </header>
                    <a class="image-style1"><img src="~/images/engineering-pics.jpg" height="450" width="650"></a>
                    <p align="left">
                    Not all projects – and not all organizations – are created equal.  Apriant’s methodology for how we run and complete our projects is therefore regimented enough to provide structure, yet flexible enough to adapt to the nuances associated with each individual project and client.  Apriant believes in a set of core tenets that guide the way we do business: Understanding – No two issues are alike, so Apriant’s first step is always to seek to understand. Before we can create a project plan, we must understand what makes the client and the project unique including project objectives, organizational goals, and a history of the functionality and the corporate culture. Once we gain that understanding, we tailor a custom plan to meet the specific needs of the project and the organization that allows us and our clients to begin – and ultimately end – each project on the same page.</p>
                    
                    <p>
                       <h3><strong><font size="4">Alignment</font></strong></h3>Apriant understands that each and every project has a specific purpose that will help meet one or many overall organizational objectives. Emphasizing this connection to all stakeholders gives the project goals more purpose. Similarly, when project tasks are tied to these goals, the day­to­day activities become more meaningful for project team members. The hierarchical alignment of organizational goals to project goals to project tasks creates a valuable decision structure that focuses the project on value­added activities which yield meaningful work and results. 
                    </p>
                    <p>
                        <h3><strong> <font size="4">Communication</font></strong></h3>Throughout the course of any project, the task of keeping various departments, employees, leaders, unions, consultants, board members, the community, and any other stakeholders informed, requires deep knowledge, diplomacy, and sincerity. The implementation of any new initiative requires buy­in from many of the stakeholders listed and that will only come if all parties are well informed and if their expressed opinions are valued. Apriant works with our client leadership to develop a communication plan to educate and include all appropriate stakeholders throughout the project. Executing this plan maximizes the expertise of the organization and helps smooth the transition associated with the project roll­out.
</p>
                    <p>
                        <h3><strong><font size="4">Objective/Data­Driven Decisions</font></strong></h3>Apriant believes that decisions based on objective data are good decisions and the more quality data that is available to make decisions, the better. This philosophy holds true for the work that we do during a project as well as how we hope to leave our clients after the implementation is complete. Regardless of the type of project that Apriant is asked to work on, putting objective data in front of our clients is always a primary goal. 

                    </p>
                    <p>
                        <h3><strong><font size="4">Leverage</font></strong></h3>Apriant is hired to work on difficult projects that cannot be completed in required timeframes just using internal resources. We understand that members of the client project team cannot simply neglect their day job every time a project is initiated, so we work within the boundaries of schedules to develop a project plan that will appropriately leverage in­house expertise. Our experience in managing projects in school district environments allows us to be creative with scheduling, planning, and execution to best meet objectives using available resources. Apriant leverages your expertise and our experience to complete projects with minimal disruption to your operations. 

                    </p>
                    <p>
                        <h3><strong><font size="4">Partnership</font></strong></h3>The success of Apriant is based completely and entirely on the success of our clients. If our clients are not successful, then Apriant is not successful. The only way that we maximize our clients’ investment in us is to add lasting value to the organization by working together to accomplish the established objectives. If we do all the work and our client is not able to “take the ball and run” at the end of our engagement, then we have not done our job. We therefore view every client relationship as a partnership where we work together in order to help you accomplish your goals because when you accomplish your goals, we accomplish ours.

                    </p>
                </article>
            </div>
        </div>
    </div>
</div>

